In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from scipy.stats import skew

In [2]:
df=pd.read_csv("E:\\sukamal sir machine learning\\Python_ML_new-master\\Automobile_data.csv")

In [3]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [4]:
df.replace("?","nan",inplace=True)

In [5]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,nan,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,nan,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,nan,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [6]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower            object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [7]:
df["normalized-losses"]=df["normalized-losses"].astype(float)

In [8]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower            object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [9]:
normal_mean=df["normalized-losses"].mean()
normal_mean

122.0

In [10]:
df["normalized-losses"].fillna(normal_mean,inplace=True)

In [11]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [12]:
for col in df:
    col,'-',df[col].unique()
    print(col,'-',df[col].unique())

symboling - [ 3  1  2  0 -1 -2]
normalized-losses - [122. 164. 158. 192. 188. 121.  98.  81. 118. 148. 110. 145. 137. 101.
  78. 106.  85. 107. 104. 113. 150. 129. 115.  93. 142. 161. 153. 125.
 128. 103. 168. 108. 194. 231. 119. 154.  74. 186.  83. 102.  89.  87.
  77.  91. 134.  65. 197.  90.  94. 256.  95.]
make - ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
fuel-type - ['gas' 'diesel']
body-style - ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
drive-wheels - ['rwd' 'fwd' '4wd']
engine-location - ['front' 'rear']
width - [64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 70.6 64.2 65.7 66.5 66.1 70.3 71.7
 70.5 72.  68.  64.4 65.4 68.4 68.3 65.  72.3 66.6 63.4 65.6 67.7 67.2
 68.9 68.8]
height - [48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  50.5 55.2
 52.5 53.  59.1 53.9 55.6 56.2 57.5]
engine-type - ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
engine-size - [130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]
horsepower - ['111' '154' '102' '115' '110' '140' '160' '101' '121' '182' '48' '70'
 '68' '88' '145' '58' '76' '60' '86' '100' '78' '90' '176' '262' '135'
 '84' '64' '120' '72' '123' '155' '184' '175' '116' '69' '55' '97' '152'
 '200' '95' '142' '143' '207' '288' 'nan' '73' '82' '94' '62' '56' '112'
 '92' '161' '156' '52' '85' '114' '162' '134' '106']
city-mpg - [21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 13 26 36 22 14 45 28
 32 35 34 29 33]
highway-mpg - [27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]
price - [13495 16500 13950 17450 15250 17710 18920 23875 12000 16430 16925 20970
 21105 24565 30760 41315 36880  5151  6295  6575  5572  6377  7957  6229
  6692  7609  8558  8921 12964  6479  6855  5399  6529  7129  7295  7895
  9095  8845 10295 12945 10345  6785 10000 23000 11048 32250 35550 36000
  5195  6095  6795  6695  7395 10945 11845 13645 15645  8495 10595 10245
 10795 11245 18280 18344 25552 28248 28176 31600 34184 35056 40960 45400
 16503  5389  6189  6669  7689  9959  8499 12629 14869 14489  6989  8189
  9279  5499  7099  6649  6849  7349  7299  7799  7499  7999  8249  8949
  9549 13499 14399 17199 19699 18399 11900 13200 12440 13860 15580 16900
 16695 17075 16630 17950 18150 12764 22018 32528 34028 37028  9295  9895
 11850 12170 15040 15510 18620  5118  7053  7603  7126  7775  9960  9233
 11259  7463 10198  8013 11694  5348  6338  6488  6918  7898  8778  6938
  7198  7788  7738  8358  9258  8058  8238  9298  9538  8449  9639  9989
 11199 11549 17669  8948 10698  9988 10898 11248 16558 15998 15690 15750
  7975  7995  8195  9495  9995 11595  9980 13295 13845 12290 12940 13415
 15985 16515 18420 18950 16845 19045 21485 22470 22625]

In [13]:
df["horsepower"]=df["horsepower"].astype(float)

In [14]:
horse_mean=df["horsepower"].mean()
horse_mean

104.25615763546799

In [15]:
df["horsepower"].fillna(horse_mean,inplace=True)

In [16]:
df_num=df.select_dtypes(["int64","float64"])

In [17]:
df_num.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,64.1,48.8,130,111.0,21,27,13495
1,3,122.0,64.1,48.8,130,111.0,21,27,16500
2,1,122.0,65.5,52.4,152,154.0,19,26,16500
3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,2,164.0,66.4,54.3,136,115.0,18,22,17450

In [18]:
df_cat=df.select_dtypes(object)

In [19]:
df_cat.head()

          make fuel-type   body-style drive-wheels engine-location engine-type
0  alfa-romero       gas  convertible          rwd           front        dohc
1  alfa-romero       gas  convertible          rwd           front        dohc
2  alfa-romero       gas    hatchback          rwd           front        ohcv
3         audi       gas        sedan          fwd           front         ohc
4         audi       gas        sedan          4wd           front         ohc

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
for col in df_cat:
    
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

C:\Users\Tejas\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [22]:
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [23]:
df_new=pd.concat([df_num,df_cat],axis=1)

In [24]:
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [25]:
df.corr()["price"]

symboling           -0.085781
normalized-losses    0.133424
width                0.718253
height               0.132444
engine-size          0.852995
horsepower           0.746589
city-mpg            -0.654611
highway-mpg         -0.679048
price                1.000000
Name: price, dtype: float64

In [26]:
def model(x,y):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)
    lr=LinearRegression()
    lr.fit(x_train,y_train)
    y_pred=lr.predict(x_test)
    mse=mean_squared_error(y_pred,y_test)
    mae=mean_absolute_error(y_pred,y_test)
    r2=r2_score(y_pred,y_test)
    coef=lr.coef_
    intercept=lr.intercept_
    return(mse,mae,r2,coef,intercept)

In [27]:
x=df_new.drop("price",axis=1)
y=df["price"]
result=model(x,y)
print("mse",result[0])
print("mae",result[1])
print("r2",result[2])
print("coef",result[3][0])
print("intercept",result[4])

mse 12259459.688784517
mae 2464.0068217581615
r2 0.7547822705194629
coef 45.13849568679699
intercept -65022.76985995663

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)
lr=LinearRegression()

In [29]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectKBest

In [59]:
annova=SelectKBest(score_func=f_regression,k=10)# here we can change the k which is indicate to column 
#chi =SelectKBest(score_func=chi2,k=7) as chi2 are not perfom on dataset which as negative value

In [60]:
x_train_f=annova.fit_transform(x_train,y_train)

In [61]:
#fit means to learn data

In [62]:
x_test_f=annova.transform(x_test)

In [63]:
lr_annova=LinearRegression()

In [64]:
lr_annova.fit(x_train_f,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
lr_annova.score(x_test_f,y_test)

0.7886118767839589

In [66]:
def adjusted_r2(k,r2):
    n=len(x_test)
    adj_r2=1-(1-r2)*((n-1)/(n-(k+1)))
    return adj_r2

In [67]:
# for loop always add coloumn in list
columns=[]
i=1
for col in x:
    columns.append(col)
    x_new=df_new[columns]
    x_train,x_test,y_train,y_test=train_test_split(x_new,y,test_size=0.3,random_state=1)
    lr=LinearRegression()
    lr.fit(x_train,y_train)
    r2=lr.score(x_test,y_test)
    adj_r2=adjusted_r2(i,r2)
    print(i,":",r2," : ",adj_r2," : ")
    i+=1

1 : -0.0017837050450488778  :  -0.018480100129133037  :
2 : 0.041612508167990114  :  0.00912479658046439  :
3 : 0.6171737569085427  :  0.5973723995072604  :
4 : 0.6183283499764451  :  0.5915443745361957  :
5 : 0.7589560567217415  :  0.737434276071897  :
6 : 0.7741546338326666  :  0.749516957523503  :
7 : 0.7768961441883274  :  0.7479752739905181  :
8 : 0.77777763826895  :  0.7442346402718103  :
9 : 0.7924572281432337  :  0.7565363637834088  :
10 : 0.7948545416112248  :  0.7546299419271513  :
11 : 0.7972954924014397  :  0.7527005007297565  :
12 : 0.8135463420259217  :  0.7678842217057392  :
13 : 0.7934456703438273  :  0.7375038727286138  :
14 : 0.7965566780397382  :  0.7359565395834899  :

# principal component Analysis (PCA)

In [68]:
'''
pca is the way of reducing dimension(also known as demensionality reduction)
in another pca is creation it's own feature 

'''

"\npca is the way of reducing dimension(also known as demensionality reduction)\nin another pca is creation it's own feature \n\n"

In [69]:
from sklearn.decomposition import PCA

In [70]:
pc=PCA(n_components=12,random_state=1)# in this we can  change n_component value

In [71]:
x=df_new.drop("price",axis=1)
y=df["price"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [72]:
x_train_pc=pc.fit_transform(x_train,y_train)
x_test_pc=pc.transform(x_test)
lr_pc=LinearRegression()
lr_pc.fit(x_train_pc,y_train)
lr_pc.score(x_test_pc,y_test)

0.8152074680020281